<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('partials/head')%>
    <script src="busqueda.js"></script>
</head>
<body>
    <%- include('partials/navigation')%>

    <main class="vh-100 container pt-2 text-center f-flex justify-content-center align-items-center">
        <section>
        <div>
            <h1 class="display-1">Bienvenido</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eum, voluptatem sit maiores officia blanditiis, ea aliquam sint iure rerum, quia cupiditate adipisci sed! Corrupti inventore cumque qui fuga reprehenderit!</p>
        </div>
        </section>
    </main>

    <h1>Resultados de búsqueda</h1>


    <%- include('partials/footer')%>
</body>
</html>